.navigation {
    width: 100%;
    background: blue;
    padding: 7px 0px 7px 0px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding-right: 10px;
    color: white;
}

li:hover {
    color:crimson;
    cursor: pointer;
}